body {
	background-color: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
    font-family: 'Lora', serif;
    font-size: 16px;
}

h1,h2,h3{
    font-family: 'Italique';
}

h1 {
	color: #03045E;
    font-weight: 950;
    letter-spacing: 1px;
    font-size: 40px;
    text-transform: uppercase;
}

h2{
    color: #1D1D1F;
    font-size: 24px;
    font-weight: 300;
}

a{
    font-family: 'Italique', sans-serif;
    text-decoration: none;
    color: white;
    font-weight: 330;
    font-size: 16px;

} 
a:hover {
    color: skyblue;
}


#photo {
    margin: 30px auto;
    padding: 0px auto;
    border: 5px solid  #03045E ;
    border-radius: 50%;
    box-shadow: 8px 8px 6px black;
}

.div-titre {
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    padding-left: 15px;
    background-color: rgb(245, 245, 247);
    border-top: 3px solid white;
    border-right: 3px solid #03045E;
    border-bottom: 3px solid #03045E;
    border-left: 3px solid white;
    box-shadow: 3px 3px 30px darkgrey;
}

.div-bio {
    border-radius: 5px;
    width: 675px;
    margin: 0 auto;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: rgb(245, 245, 247);
    border-top: 2px solid white;
    border-right: 2px solid #03045E;
    border-bottom: 2px solid #03045E;
    border-left: 2px solid white;
    box-shadow: 0px 10px 30px darkgrey;
}


.div-film {
    border-radius: 5px;
    width: 675px;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 15px;
    background-color: rgb(245, 245, 247);
    border-top: 2px solid white;
    border-right: 2px solid #03045E;
    border-bottom: 2px solid #03045E;
    border-left: 2px solid white;
    box-shadow: 0px 10px 30px darkgrey;
}

.div-contact {
    border-radius: 5px;
    width: 675px;
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 15px;
    background-color: rgb(245, 245, 247);
    border-top: 2px solid white;
    border-right: 2px solid #03045E;
    border-bottom: 2px solid #03045E;
    border-left: 2px solid white;
    box-shadow: 0px 10px 30px darkgrey;
}

.div-container {
    width: 700px;
    margin: 40px auto;
    text-align: center;
}

@media (max-width: 760px) {
    .div-container {
        width: 600px;
    }
}

@media (max-width: 500px) {
    .div-container {
        width: 400px;
    }
}



.btn-blue {
    background-color: #03045E;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
}
.btn-blue:hover {
    background-color: black;
    color: skyblue;
}

.list-inline {
    background-color: #03045E;
    list-style: none;
    padding-left: 0px;
}

.list-inline:hover {
    background-color: black;
    color: skyblue;
}

.list-inline li {
    display: inline;
    padding: 15px;
}
.list-inline i {
    font-size: 20px;
}

#introduction p {
    margin-bottom: 40px;
}









